html {
    box-sizing: border-box;
    overflow-y: hidden;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

a {
    display: inline-block;
    text-decoration: none;
    color: inherit;
}

ul,
li {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

body{
    font-family: Montserrat, sans-serif;
    font-size: 13px;
    font-weight: 700;
    line-height: 1;
    background-color: white;
}

.container{
    max-width: 1370px;
    padding: 0 15px;
    margin: 0 auto;
}

.d-flex{
    display: flex;
}

.btn{
    padding: 22px 25px;
    background-color: #0d5195;
    color: white;
    text-transform: uppercase;
}