.car {
    max-width: 270px;
    width: 100%;
    background-color: white;
    border-radius: 7px;
    overflow: hidden;
    box-shadow: 0 0 15px 3px #8a969b;

    &+& {
        margin-left: 20px;
    }

    &__img-link {
        width: 100%;
        max-height: 190px;
        height: 100%;
        outline: transparent;
    }

    &__img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

    &__info {
        margin-top: -2px;
        height: 100%;
        padding: 15px;
        background-color: rgb(214, 224, 233);
        text-align: center;
    }

    &__title,
    &__price,
    &__engine,
    &__mileage {
        margin-bottom: 10px;
    }

    &__title {
        display: block;
        font-size: 16px;
        outline: transparent;
        transition: color, 0.3s;
        &:focus{
            color: brown;
        }
        &:hover{
            color: $blue;
        }
        &:active{
            color: rgba($blue, 0.6);
        }
    }

    &__price {
        color: green;
        font-size: 20px;
    }

    &__btn {
        display: block;
        max-width: 150px;
        margin: 0 auto;
    }
}